.userCard {
  display: flex;
  width: 70%;
  gap: 1.2rem;
  padding: 1.3rem;
  align-items: center;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.1);
}

.profilePicture > img {
  width: 3.5rem;
  border: 50%;
}

.myConnections {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-bottom: 1.5rem;
  cursor: pointer;
}
.connectedButton {
  padding-inline: 0.8rem;
  padding-block: 0.3rem;
  background: rgba(83, 156, 225, 0.905);
  outline: none;
  border: none;
  color: #fffefe;
  border-radius: 10px;
  cursor: pointer;
}
